// Navigation code here

nav {
    .display-flex(center,center,column);
    width: 100%;
    background-color: #F6F6F6;
    font-size: 4em;

    h1 {
        padding-top: .5em;
    }

    .nav-items {
        font-size: .5em;
        display: flex;
        justify-content: space-evenly;

        .nav-item {
            padding: 1em;
            text-decoration: none;
            color: black;
        }
    }
}